* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  width: 500px;
  height: 500px;
  position: relative;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  text-align: center;
  inset: 20px;
  font-size: 40px;
}
.number b {
  transform: rotate(calc(-30deg * var(--n)));
  display: inline-block;
}
.center-dot {
  position: absolute;
  width: 25px;
  height: 25px;
}
